[Unit]
Description=WiggleTouch service

[Service]
WorkingDirectory=%h
ExecStart=/bin/bash /usr/bin/wiggle_touch_boot.sh

[Install]
WantedBy=default.target